API_PORT=8000
FLASK_DEBUG=true
DATA_PROVIDER=google_drive
GOOGLE_SERVICE_ACCOUNT_FILE=credentials.json
GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_DRIVE_DATA_FILE=hub-data.json
GOOGLE_DRIVE_SCOPES=https://www.googleapis.com/auth/drive.readonly
SQL_DRIVER=
SQL_HOST=
SQL_PORT=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SECRET_ENCRYPTION_KEY=NPHTAsxSq-J_mR6ZUjgt3NE7QuPcfI3eTTPGRdHXeBw
VITE_API_BASE_URL=http://localhost:8000
